<h1>New Goal Comment</h1>
<form action=" <%= goal_goal_comments_url %>" method="post">
  <%= auth_token %>
  <label>Comment
    <input type="text" name="goal_comment[body]">
  </label>
  <input type="submit" value="Submit">

</form>
